@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/*  HEADER  */
header {
    height: 100vh;
    background-image: url('images/zwide.png');
    background-size: 33%;
    background-repeat: no-repeat;
    background-position-x: 85%;
    background-position-y: 60%;
}

nav {
    position: fixed;
    z-index: 1000; 
    background-color: #fff;
    width: 100%;
    height: 7%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav li {
    display: inline-block;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    padding: 10px;
    position: relative;
    transition: color 0.3s;
}

nav li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2ecc71;
    transition: width 0.3s;
}

nav li:hover::after {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

nav a:hover {
    color: #2ecc71;
}

.logo {
    width: 150px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: black;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

#hero {
    height: 90%;
    display: flex;
    padding-left: 13%;
    align-items: center;
    text-align: center;
}

#hero h1 {
    font-size: 3rem;
}

#hero p {
    font-size: 1.5rem;
    color: #2c3e50;
}

.contact-social-links {
    list-style: none;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}

.contact-social-links li {
    margin: 0 7px;
}

.contact-social-links a {
    display: inline-block;
}

.contact-social-links img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
}

.contact-social-links img:hover {
    transform: scale(1.2);
}

.nav-links.active {
    display: flex;
}

/* ABOUT ME SECTION */
.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 7%;
    margin-top: 50px;
}

.about-me h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.about-me p {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    line-height: 1.6;
    margin-bottom: 20px;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: end;
}

.about-me .text {
    flex: 1;
    padding-right: 20px;
}

.about-me .image img {
    max-width: 100%;
}

.image {
    display: flex;
    justify-content: end;
    margin-bottom: 50px;
}

.styled-link {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #4B5320;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.styled-link:hover {
    color: #2ecc71;
    border-bottom-color: #1c5986;
}

#about-img {
    margin-bottom: 0;
    margin-top: 150px;
}

#about-image {
    width: 300px;
}

.resume h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #2c3e50;
}

.resume h3 {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #2ecc71;
}

.resume p, .resume li {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    line-height: 1.6;
}

.resume ul {
    list-style-type: disc;
    margin-left: 20px;
}

.resume-details {
    border-left: 2px solid black;
    padding: 10%;
}

/* PORTFOLIO SECTION */
.portfolio {
    padding: 7%;
    margin-top: 50px;
    max-width: 1200px;
    margin: 40px auto;
}

.portfolio h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.projects {
    margin-bottom: 40px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.project img {
    max-width: 100%;
    border-radius: 10px;
    flex: 1;
    margin-right: 20px;
}

.project-details {
    flex: 2;
}

.project-details h3 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.project-details p {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.project-details a {
    display: inline-block;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #4B5320;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.project-details a:hover {
    color: #2ecc71;
}

.skills {
    margin-bottom: 40px;
}

.skills h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
}

.skill-category {
    margin-bottom: 20px;
}

.skill-category h3 {
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    color: #2ecc71;
    margin-bottom: 10px;
}

.skill-category ul {
    list-style-type: none;
    padding: 0;
}

.skill-category li {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.skill-name {
    font-weight: bold;
}

.skill-level {
    font-style: italic;
}


/*CONTACT*/ 

.contact {
    padding: 5%;
    margin-top: 50px;
    max-width: 800px;
    margin: 40px auto;
}

.contact-box {
    padding: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

.contact-box h2 {
    font-family: 'Georgia', serif;
    font-size: 28px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

.contact-box h3 {
    font-family: 'Georgia', serif;
    font-size: 22px;
    color: #2ecc71;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}

.contact-box p {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.6;
}

.contact-box .contact-form-box {
    position: relative;
    margin-bottom: 30px;
}

.contact-box .contact-form-box input,
.contact-box .contact-form-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #0e0d0d;
    outline: none;
    background: transparent;
    color: #2c3e50;
}

.contact-box .contact-form-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    color: #2c3e50;
}

.contact-box .contact-form-box input:focus ~ label,
.contact-box .contact-form-box input:valid ~ label,
.contact-box .contact-form-box textarea:focus ~ label,
.contact-box .contact-form-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #2ecc71;
    font-size: 12px;
}

.contact-box form button {
    display: inline-block;
    padding: 10px 20px;
    color: #4B5320;
    font-size: 15px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: 1px solid #4B5320;
    border-radius: 55px;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.contact-box form button:hover {
    background: #2ecc71;
}

/* FOOTER */
footer {
    padding: 20px;
    background-color: #28a745;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

hr {
    border: 0;
    border-top: 1px solid #333333;
    margin: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    flex-wrap: wrap;
}

.contact-info, .about-info, .address {
    flex: 1 1 30%;
    margin: 20px;
}

.contact-info h3, .about-info h3, .address h3 {
    font-family: 'Georgia', serif;
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
}

.contact-info p, .about-info p, .address p {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.6;
}

.contact-info a {
    text-decoration: none;
    color: #2ecc71;
}

.contact-social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contact-social-links li {
    display: inline;
}

.social-icon {
    width: 24px;
    height: 24px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .copyright {
    margin-bottom: 10px;
}

.container .contact-social-links {
    margin-top: 10px;
}