/* CSS Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Hamburger functionality */
.nav-links.active {
    display: flex;
}

/* Hamburger CSS */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background: black;
    margin: 4px 0;
    transition: transform 0.3s ease;
}

/* Social icons */
.social-icon {
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.technical-skills-div {
    display: grid;
}

/* Responsive CSS */
@media (min-width: 320px) {
    /* Navigation with logo and Hamburger */
    nav {
        background-color: #ffffffda;
        position: fixed;
        padding: 0 4%;
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10000;
    }

    /* Navigation logo */
    .nav-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 13vh;
    }
    
    /* Display hamburger */
    .hamburger {
        display: flex;

    }

    /* Navigation links */
    .nav-links {
        background-color: #ffffffda;
        display: none;
        width: 100%;
        position: absolute;
        top: 10vh;
        right: 0;
        flex-direction: column;
        align-items: center;
    }

    .nav-links ul {
        list-style: none;
        width: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .nav-links li {
        padding: 10px;
    }

    .nav-links a {
        text-decoration: none;
        color: black;
    }

    .nav-links a:hover {
        color: #2ecc71;
    }

    /* Hero */
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('images/hero.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 100px;
    }

    .hero-content {
        text-align: center;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .hero-content ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0;
    }

    .hero-content li {
        list-style: none;
        margin: 5px;
    }

    .social-icon {
        width: 20px;
    }

    /* About */
    .about {
        padding: 12vh 30px;
        display: grid;
        gap: 20px;
        background-color: #e1ffe5;
    }

    
    .about h2 {
        font-family: 'Georgia', serif;
        font-size: 20px;
        color: #17212b;
        margin-bottom: 20px;
    }

    .about p {
        font-family: 'Verdana', sans-serif;
        font-size: 13px;
        color: #2c3e50;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .styled-link {
        text-decoration: none;
        color: #1f8a4c;
    }

    .styled-link:hover {
        color: #2ecc71;
    }

    .bio {
        text-align: center;
    }

    .bio-image {
        width: 80%;
    }
    
    .resume {
        padding-left: 12px;
        margin-top: 15%;
        border-left: 1.5px solid black;
    }

    .resume h3 {
        font-family: 'Georgia', serif;
        font-size: 15px;
        color: #2ecc71;
        margin-bottom: 20px;
    }

    .resume h4 {
        font-family: 'Georgia', serif;
        font-size: 12px;
        color: #2c5e40;
        margin-bottom: 20px;
    }

    .resume-list {
        padding-left: 30px;
    }

    .resume-list li {
        list-style: circle;
        color: #2c3e50;
        font-size: 13px;
    }

    .resume-contact-details li{
        list-style: none;
        color: #2c3e50;
        font-size: 14px;
        font-family: 'Verdana', sans-serif;
        line-height: 1.5;
        margin-bottom: 0.4em;
    }

    .technical-skills li {
        list-style: none;
        color: #2c3e50;
        font-size: 14px;
        font-family: 'Verdana', sans-serif;
        line-height: 1.5;
        margin-bottom: 0.4em;
    }

    .technical-skills-div {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
    }

    .resume-download {
        display: inline-block;
        padding: 7px 17px;
        color: #17212b;
        font-size: 15px;
        text-decoration: none;
        overflow: hidden;
        transition: .5s;
        margin-top: 10px;
        letter-spacing: 4px;
        border: 1px solid #17212b;
        border-radius: 55px;
        background: transparent;
        text-align: center;
        cursor: pointer;
    }

    .resume-download:hover {
        border: 1px solid #2ecc71;
        color: #2ecc71;
    }
    
    /* Aside form */
    aside {
        padding: 10vh 30px;
        background-color: #d3d1d1;
    }

    .contact-box {
        text-align: center;
    }
    
    .contact-box h2 {
        font-family: 'Georgia', serif;
        font-size: 20px;
        color: #17212b;
        margin-bottom: 20px;
    }

    .contact-box h3 {
        font-family: 'Georgia', serif;
        font-size: 15px;
        color: #2ecc71;
        margin-bottom: 20px;
    }

    .contact-box p {
        font-family: 'Verdana', sans-serif;
        font-size: 13px;
        color: #2c3e50;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .aside-social-links {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .aside-social-links li {
        list-style: none;
        margin: 5px;
    }

    .aside-social-links .social-icon {
        width: 15px;
    }

    form {
        margin-top: 50px;
    }

    .contact-box .contact-form-box {
        position: relative;
        left: 10%;
        margin-bottom: 20px;
        width: 80%;
    }
    
    .contact-box .contact-form-box input,
    .contact-box .contact-form-box textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid #0e0d0d;
        outline: none;
        background: transparent;
        color: #2c3e50;
    }
    
    .contact-box .contact-form-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 8px 0;
        font-size: 15px;
        pointer-events: none;
        transition: .5s;
        color: #2c3e50;
    }
    
    .contact-box .contact-form-box input:focus ~ label,
    .contact-box .contact-form-box input:valid ~ label,
    .contact-box .contact-form-box textarea:focus ~ label,
    .contact-box .contact-form-box textarea:valid ~ label {
        top: -20px;
        left: 0;
        color: #2ecc71;
        font-size: 12px;
    }
    
    .contact-box form button {
        display: inline-block;
        padding: 7px 17px;
        color: #17212b;
        font-size: 15px;
        text-decoration: none;
        overflow: hidden;
        transition: .5s;
        margin-top: 10px;
        letter-spacing: 4px;
        border: 1px solid #17212b;
        border-radius: 55px;
        background: transparent;
        text-align: center;
        cursor: pointer;
    }
    
    .contact-box form button:hover {
        border: 1px solid #2ecc71;
        color: #2ecc71;
    }
    
    .formspree {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .formspree-text {
        padding-top: .89em;
        margin-right: .3rem;
    }

    .formspree-logo img {
        max-height: 50px;
    }

    /* Footer */
    footer {
        padding: 40px;
        text-align: center;
        background-color: #f5f5f5;
    }

    .footer-details h3 {
        font-family: 'Georgia', serif;
        font-size: 15px;
        color: #2ecc71;
        margin-bottom: 20px;
    }

    .footer-details p {
        font-family: 'Verdana', sans-serif;
        font-size: 13px;
        color: #2c3e50;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .footer-contact-info, .footer-about-info, .footer-quick-links {
        margin-bottom: 20px;
    }

    .footer-contact-info a {
        text-decoration: none;
        color: #1f8a4c;
    }

    .footer-contact-info a:hover {
        color: #2ecc71;
    }
    .contact-social-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-social-links li, .footer-quick-links li {
        list-style: none;
        margin: 15px 3px;
    }

    .footer-quick-links a {
        text-decoration: none;
        color: #303d49;
    }

    .footer-quick-links a:hover {
        color: #2ecc71;
    }

    .copyright {
        margin: 20px;
    }
    
    .copyright {
        font-family: 'Verdana', sans-serif;
        font-size: 13px;
        color: #2c3e50;
        line-height: 1.5;
    }
}

@media (min-width: 1024px) {
    /* Hide hamburger */
    .hamburger {
        display: none;
    }

    /* Navigation links */
    .nav-links {
        background-color: transparent;
        display: flex;
        width: auto;
        position: absolute;
        top: auto;
        right: 100px;
    }

    .nav-links ul {
        width: auto;
        display: flex;
        align-items: center;
        justify-items: center;
    }

    /* Ensure consistent styling for navigation links */
    nav li {
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
        position: relative;
        transition: color 0.3s;
    }

    nav li::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #2ecc71;
        transition: width 0.3s;
    }

    /* Add hover effect for navigation links */
    nav li:hover::after {
        width: 100%;
    }

    nav a {
        text-decoration: none;
        color: black;
        transition: 0.3s;
    }

    nav a:hover {
        color: #2ecc71;
    }

    /* Social icons */
    .social-icon {
        margin: 0 5px;
    }

    .logo {
        width: 20vh;
    }

    /* Hero */
    .hero {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('images/zwide.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 65px;
        background-position-x: right;
    }

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-content p {
        font-size: 2rem;
    }

    /* About */
    .about {
        display: flex;
        justify-content: center;
    }

    .bio, .resume {
        width: 50%;
        padding: 20px;
    }

    .resume {
        margin-top: 0;
    }

    .technical-skills-div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    /* Footer */
    .footer-details {
        display: flex;
        justify-content: center;
    }

    .footer-contact-info, .footer-about-info, .footer-quick-links {
        width: 40%;
        padding: 20px;
        margin-bottom: 0;
    }
}